<!doctype html>
<html>
    <head>
        <title>Blogz</title>
        
    </head>
<body>
    <nav>
        
            <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/blogpost">All Posts</a>
                    </li>
                    <li>
                        <a href="/newpost">New Post</a>
                    </li>
                </ul>
            <ul id="user-account">
            <li>
                <a href="/login">Login</a>
            </li>
            <li>
                <a href="/logout">Logout</a>
            </li>
        </ul>
        
    </nav>
    


    {% block content %}
    {% endblock %}

</body>
</html>