{% extends "base.html" %}

{% block content %}
    

    

    {% if completed_blogs|length == 0 %}
    <p>No blogs yet</p>
    {% else %}

        

    {% endif %}

    <hr />

    <h2>Completed Blogs</h2>
    
    
        {% for blog in completed_blogs %}
        <p>
            <tr><a href="/blogpost?id={{blog.id}}">{{blog.title}}</a></tr>
            <tr>{{blog.body}}</tr><br>
            <tr>Written by <a href="/blogpost?user={{blog.owner.username}}">{{blog.owner.username}}</tr>
        </p>
        {% endfor %}
    

{% endblock %}