{% extends "base.html" %}

{% block content %}
    

    

    {% if completed_blogs|length == 0 %}
    <p>No blogs yet</p>
    {% else %}

        

    {% endif %}

    <hr />

    <h2>Completed Blogs</h2>

    <ul>
        {% for blog in completed_blogs %}
        <li><a href="/blogpost?id={{blog.id}}">{{blog.title}}</a></li>
        <li>{{blog.body}}</li>
            {% for user in users %}
                {% if blog.owner.id == user.id %}
                    <p>Written by <a href="/blogpost?user={{user.username}}">{{user.username}}</p>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </ul>

{% endblock %}